/* Global browser settings */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Changes for the whole document body */
body {
    min-height: 100vh;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

/* Main container */
.container {
    min-height: 97vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

/* Each color area */
.color {
    position: relative;
    flex: 20%;
    min-height: 150px;
    cursor: pointer;
    transition: .4s linear;
}

.color:hover {
    filter: brightness(87%);
}

/* For the hexcode of the color */
.hexcode {
    position: absolute;
    bottom: 10%;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 24px;
    letter-spacing: 3px;
}

/* The refresh button */
.change {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: white;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .4s linear;
}

.change:hover {
    transform: rotate(180deg) scale(1.1);
}

button .material-icons {
    font-size: 30px;
    font-weight: 700;
}

/* The alert message */
.copyalert {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 15px 40px;
    font-size: 18px;
    min-width: 300px;
    text-align: center;
    border-radius: 60px;
    display: none;
}

/* Footer */
footer {
    min-height: 3vh;
    width: 100%;
}

footer p {
    text-align: center;
    align-self: center;
}

/* Heart icon */
.fas {
    color: red;
    animation: pound .4s infinite alternate;
}

@keyframes pound {
    to{
        transform: scale(1.1);
    }
}

/* Screen Responsiveness */
@media screen and (max-width: 800px) {
    .color {
        flex: 100%;
    }
}